<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @musician.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @musician.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @musician.age %>
</p>

<p>
  <strong>Home adress:</strong>
  <%= @musician.home_adress %>
</p>

<p>
  <strong>Studio:</strong>
  <%= @musician.studio.try(:name)  %>
</p>

<%= link_to 'Edit', edit_musician_path(@musician), {:class => 'btn btn-default'} %> |
<%= link_to 'Back', musicians_path , {:class => 'btn btn-danger'} %>
