<p id="notice"><%= notice %></p>

<h1>Albums</h1>

<table class = "table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Genre</th>
      <th>Musician</th>
      <% if signed_in? -%>
        <th><%= link_to 'New Album', new_album_path, :class=>"btn btn-success"%></th>
        <th colspan="2"></th>
      <% else -%>
        <th></th>
      <% end -%>

    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= album.price %></td>
        <td><%= album.genre %></td>
        <td><%= album.musician.try(:name) %></td>
        <td><%= link_to 'Show', album ,:class=>"btn btn-info" %></td>
        <% if signed_in? -%>
          <td><%= link_to 'Edit', edit_album_path(album) ,:class=>"btn btn-default"%></td>
          <td><%= link_to 'Destroy', album_path(album.id), method: :delete, data: { confirm: 'Are you sure?' } ,:class =>'btn btn-danger btn-sm'%></td>
        <% else -%>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>