<p id="notice"><%= notice %></p>

<h1>Studios</h1>

<table class = "table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Founder</th>
      <th>Musician</th>
      <th><%= link_to 'New Studio', new_studio_path, :class=>"btn btn-success" %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @studios.each do |studio| %>
      <tr>
        <td><%= studio.name%></td>
        <td><%= studio.location %></td>
        <td><%= studio.founder %></td>
        <td><%= studio.musician.try(:name) %></td>
        <td><%= link_to 'Show', studio ,:class=>"btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_studio_path(studio) ,:class=>"btn btn-default" %></td>
        <td><%= link_to 'Destroy', studio, method: :delete, data: { confirm: 'Are you sure?' },:class =>'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
