<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studio.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @studio.location %>
</p>

<p>
  <strong>Musician:</strong>
  <%= @studio.musician_id %>
</p>

<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
