<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studio.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @studio.location %>
</p>

<p>
  <strong>Founder:</strong>
  <%= @studio.founder %>
</p>

<%= link_to 'Edit', edit_studio_path(@studio), {:class => 'btn btn-default'} %> |
<%= link_to 'Back', studios_path , {:class => 'btn btn-danger'}  %>
